* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 1138px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    max-height: 800px;
    padding-top: 50px;
    background-image: url(../img/file/header-bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-left: 268px;
    margin-right: 36px;
}

.navigation-item:not(:last-child) {
    margin-right: 20px;
}

.navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
}

.navigation-link:hover {
    color: orange;
}

.basket {
    height: 51px;
    border-right: 1px solid #ffffff;
    padding-right:21px;
    margin-right: 31px;
}

.user-link__basket svg {
   margin-top: 19px;
    
}

.header-menu__user{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 162px;
    margin-right: 45px;
}

.user-item__svg{
    margin-right: 8px;
}

.user-link {
    text-decoration: none;
    color: #ffffff;
}

.user-link:hover {
    color: orange;
}

.user-link__tel {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.user-item__text {
    margin:0;
    padding-left: 5px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #ffffff;
}

.user-link__button {
    padding: 14px 19px 14px 18px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
    background-color: #FF7400;
}

.user-link__button:hover {
    color: #000000;
    background-color: #ffffff;
}

.header-promo {
    margin-top: 204px;
    margin-bottom: 231px;
    max-width: 556px;
    text-align: center;
}

.header-promo__title {
    margin-bottom: 7px;
    font-family: "Tinos", serif;
    font-size: 50px;
    line-height: 57px;
    font-weight: 400;
    color: #D67E35;
}

.header-promo__text {
    font-size: 80px;
    line-height: 92px;
}

.header-promo__description {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.header-promo__description::before {
    content:"";
    position: absolute;
    top: 11px;
    left: 125px;
    width: 61px;
    height: 2px;
    background: #C4C4C4;

}

.header-promo__description::after{
    content:"";
    position: absolute;
    top: 11px;
    right: 125px;
    width: 61px;
    height: 2px;
    background: #C4C4C4;

}

.header-promo__button {
    padding: 14px 28px 14px 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
    background-color: #FF7400;
}

.header-promo__button:hover {
    color: #000000;
    background-color: #ffffff;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 31px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: -107px;
    margin-bottom: 90px;
}

.advantages-block {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    max-width: 328px;
    height: auto;
    text-align: center;
}

.advantages-image {
    margin-top: 48px;
}

.advantages-title {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    font-family: "Tinos", serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    color: #2C2C2C;
}

.advantages-brown {
    color: #BC9060;
}

.advantages-description {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 17px;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Tinos", serif;
    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    color: #656363;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 125px;
    height: 498px;
    margin-bottom: 122px;
}

.history-text {
    max-width: 444px;
}

.main-title {
    margin-top: 16px;
    margin-bottom: 21px;
    text-align: center;
    font-family: "Tinos", serif;
    font-size: 54px;
    line-height: 62px;
    font-weight: 400;
    color: #000000;
}

.main-span {
    color: #D67E34;
}

.history-description {
    margin: 0;
    margin-bottom: 39px;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #656363;
}

.history-numbers {
    display: flex;
    justify-content: space-evenly;
}

.history-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #000000;
}

.history-number {
    font-family: "Open Sans", serif;
    font-size: 40px;
    line-height: 54px;
    font-weight: 400;
    color: #BC9060;
}

.history-gallery {
    position: relative;
    max-width: 539px;
    height: 498px;
    overflow: hidden;
}

.history-design__box {
    position: absolute;
    left: 285px;
    top: 34px;
    width: 212px;
    height: 164px;

}
.history-blue {
    position: absolute;
    left: 190px;
    width: 255px;
    height: 430px;

}

.history-gold {
    position: absolute;
    top: 64px;
    width: 233px;
    height: 300px;
    box-shadow: 20px 0 30px 3px rgba(0, 0, 0, 0.5);
}

.history-light {
    position: absolute;
    top: 198px;
    left: 285px;
    width: 254px;
    height: 300px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.order {
    position: relative;
    height: 357px;
    margin-bottom: 131px;
    background-image: url(../img/file/promo-bg.jfif);
    z-index: -2;
}

.order::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.85);
      z-index:-1;
}

.order-block {
    display: flex;
    align-items: center;
}

.order-block__promo {
    max-width: 601px;
    margin-top: 80px;
    margin-right: 331px;
    margin-bottom: 104px;

}

.order-block__description {
    margin: 0;
    margin-bottom: 20px;
    font-family: "Tinos", serif;
    font-size: 52px;
    line-height: 59px;
    font-weight: 400;
    color: #D67E34;
}

.order-block__price {
    margin: 0;
    font-family: "Open Sans", serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
}

.order-block__button {
    padding: 14px 19px 14px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #ffffff;
    background-color: #FF7400;
}

.dishes-title {
    margin: 0;
    margin-bottom: 139px;
}

.dishes-content {
    display: grid;
    grid-template-columns: 445px auto;
    gap: 30px;
    margin-bottom: 150px;
}

.dishes-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.dishes-image {
    margin-right: 30px;
}

.menu-text {
    font-family: "Tinos", serif;
    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;
}

.menu-price {
    margin-left: auto;
    font-family: "Tinos", serif;
    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;
}

.gamburger {
    background-image: url("../img/file/second-menu-bg.jfif");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 226px;
}

.gamburger-title {
    margin: 0;
    margin-bottom: 138px;
    color: #ffffff;
}

.gamburger-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.gamburger-item {
    position: relative;
    width: 350px;
    height: 510px;
    background-color: #fff;
}

.reccomended {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 11px 11px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;
    background-color: #FF7400;

}

.gamburger-image {
    display: block;
    margin: auto;
    margin-top: 79px;
    margin-bottom: 22px;
    border-radius: 50%;
}

.gamburger-price {
    position: absolute;
    top: 205px;
    left: 192px;
    padding: 34px 31px 33px 29px;
    font-family: "Cookie", serif;
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
    color: #ffffff;
    background-color: #D67E34;
    border: 7px solid #ffffff;
    border-radius: 50%;
    
}

.gamburger-title-item {
    width: 188px;
    margin: 0 auto;
    margin-bottom: 17px;
    text-align: center;
    font-family: "Tinos", serif;
    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;
}

.gamburger-description {
    width: 226px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding: 0 24px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

.gamburger-button {
    margin-left: 65px;
    padding: 14px 68px 14px 67px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: #D67E34;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}
